<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/webapp_
2_5.xsd">
<servlet>
<servlet-name>FormProcessor</servlet-name>
<servlet-class>tm.aaa</servlet-class>
</servlet>
<servlet>
<servlet-name>DataSaver</servlet-name>
<servlet-class>tm.bbb</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FormProcessor</servlet-name>
<url-pattern>/ProcessForm</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>DataSaver</servlet-name>
<url-pattern>/SaveData</url-pattern>
</servlet-mapping>
</web-app>